<!-- START @PAGE CONTENT -->
<section id="page-content">

  <!-- Start page header -->
  <!-- /.header-content -->
  <!--/ End page header -->

  <!-- Start body content -->
  <div class="body-content animated fadeIn">

    <div class="row">

      <div class="col-md-12 text-center">

        <h1>MODIFIER MON PROFIL</h1></br>

      </div>


    </div>

    <div class="row">




    </div>



    <div class="row">


    <div class="panel rounded shadow">
      <div class="panel-heading">
        <div class="clearfix"></div>
      </div><!-- /.panel-heading -->
      <div class="panel-sub-heading">
        <div class="callout callout-info"><p>Use Bootstrap's predefined grid classes to align labels and groups of form controls in a horizontal layout by adding <code>.form-horizontal</code> to the form. Doing so changes <code>.form-group</code>s to behave as grid rows, so no need for <code>.row</code>.</p></div>
      </div><!-- /.panel-subheading -->
      <div class="panel-body no-padding rounded-bottom">
        <form action="#" class="form-horizontal form-bordered">
          <div class="form-body">

            <div class="form-group">
              <label class="col-sm-3 control-label">Default Input</label>
              <div class="col-sm-9">
                <input class="form-control" type="text">
              </div>
            </div><!-- /.form-group -->




            <h2>Edit <%= resource_name.to_s.humanize %></h2>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>
            <div class="form-group">
              <div class="form-inputs">
                <div class="col-sm-9">
                  <%= f.input :email, required: true, autofocus: true  %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-inputs">
                <div class="col-sm-9">
                  <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-inputs">
                <div class="col-sm-9">
                  <%= f.input :password_confirmation, required: false %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-inputs">
                <div class="col-sm-9">
                  <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
                </div>
              </div>
            </div>


                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>




              </div>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Update" %>
            </div>
            <% end %>

            <h3>Cancel my account</h3>

            <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

            <%= link_to "Back", :back %>






          </div><!-- /.form-body -->

          <div class="form-footer">
            <div class="pull-right">
              <button class="btn btn-danger mr-5">Cancel</button>
              <button class="btn btn-success" type="submit">Submit</button>
            </div>
            <div class="clearfix"></div>
          </div><!-- /.form-footer -->
        </form>
      </div><!-- /.panel-body -->
    </div>

  </div>




  </div><!-- /.body-content -->
  <!--/ End body content -->

</section><!-- /#page-content -->
<!--/ END PAGE CONTENT -->
