<!-- START @PAGE CONTENT -->
<section id="page-content">

  <!-- Start body content -->
  <div class="body-content animated fadeIn">

    <!-- Start mail page -->
    <div class="row compose-mail-wrapper">

      <div class="col-sm-12">
        <!-- Star form compose mail -->
        <%= form_tag(contact_send_email_path, class: "form-horizontal", :multipart => true) do -%>
          <div class="panel rounded shadow">
            <div class="panel-heading">
              <div class="pull-left">
                <h3 class="panel-title">Envoyer un email</h3>
              </div>
              <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
              <div class="template" style="margin-bottom:20px;">
                <% unless current_user.templates.empty? %>
                  <select id="select-template">
                    <% current_user.templates.each do |t| %>
                      <option value="<%= t.id %>"><%= t.subject %></option>
                    <% end %>
                  </select>
                  <button type="button" id="load-template" class="btn btn-success btn-sm">Charger le modèle</button>
                  <button type="button" id="edit-template" class="btn btn-success btn-sm"><i class="fa fa-save"></i> Éditer le modèle actuel</button>
                  <button type="button" id="delete-template" class="btn btn-success btn-sm"><i class="fa fa-trash-o"></i> Supprimer le modèle actuel</button>
                <% end %>
                <button type="button" id="save-template" class="btn btn-success btn-sm"><i class="fa fa-save"></i> Sauvegarder l'email en tant que modèle</button>
              </div>

              <div class="compose-mail">
                <div class="form-group">
                  <label for="subject" class="col-sm-2 control-label">Sujet:</label>
                  <div class="col-sm-10">
                    <input type="text" id="subject" class="form-control input-sm" name="email[subject]" required autofocus value="<%= @template.subject if @template %>" >
                  </div>
                </div><!-- /.form-group -->
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <textarea class="summernote" name="email[body]"><%= @template.body if @template %></textarea>
                  </div>
                </div><!-- /.form-group -->
              </div><!-- /.compose-mail -->

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <label for="subject" class="col-sm-2 control-label">envoyer aux </label>
                  <select name="email[gender]">
                    <option value="">hommes et femmes</option>
                    <option value="male">hommes</option>
                    <option value="female">femmes</option>
                  </select>
                  <span> et </span>
                  <select name="email[vip]">
                    <option value="">tous le monde</option>
                    <option value="true">seulement VIP</option>
                  </select>
                </div>
              </div><!-- /.form-group -->
            </div><!-- /.panel-body -->
            <div class="panel-footer">
              <div class="pull-right">
                <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-send"></i> Envoyer Email</button>
              </div>
              <div class="clearfix"></div>
            </div><!-- /.panel-footer -->
          </div><!-- /.panel -->
         <% end %>
        <!--/ End form compose mail -->
      </div>
    </div><!-- /.row -->
    <!--/ End mail page -->

  </div>
  <!-- End body content -->

</section><!-- /#page-content -->
<!--/ END PAGE CONTENT -->

<div class="modal fade" id="confirm_edit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Éditer le template actuel</h4>
      </div>
      <div class="modal-body">
        <p>Le template avec le nom : <span id="subject_template"></span></br> va être édité.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" id="valid-edit-template">Éditer</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="confirm_delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Supprimer le template actuel</h4>
      </div>
      <div class="modal-body">
        <p>Le template avec le nom : <span id="subject_template_delete"></span></br> va être supprimé.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" id="valid-delete-template">Supprimer</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
