<!-- START @PAGE CONTENT -->
<section id="page-content">

  <!-- Start body content -->
  <div class="body-content animated fadeIn">

    <!-- Start mail page -->
    <div class="row compose-mail-wrapper">


         <h4 class="text-center text-success">Sur simple demande, nous pouvons vous faire votre modèle de base comme l'exemple ci dessous
                                                    N'hésitez pas  06-03-86-44-16</h4>
      <div class="col-sm-12">
        <!-- Star form compose mail -->
        <%= form_tag(contact_send_email_path, class: "form-horizontal", :multipart => true) do -%>
          <div class="panel rounded shadow">
            <div class="panel-heading">
              <div class="pull-left">
                <h3 class="panel-title">Envoyer un email</h3>
              </div>
              <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
              <div class="default_template row">
                <% @default_templates.each do |dt| %>
                  <div class="panel panel-default col-sm-2">
                    <div class="panel-body">
                      <a class="default_template_link" href="/contact/new_email?default_template=<%= dt.id %>">
                        <img src="<%= dt.img %>" width="130px"/>
                      </a>
                    </div>
                    <div class="panel-footer">
                      <a class="default_template_link" href="/contact/new_email?default_template=<%= dt.id %>">
                        <%= dt.name %>
                      </a>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="template" style="margin-bottom:20px;">
                <% unless current_user.templates.empty? %>
                  <select id="select-template">
                    <% current_user.templates.each do |t| %>
                      <option value="<%= t.id %>"><%= t.subject %></option>
                    <% end %>
                  </select>
                  <button type="button" id="load-template" class="btn btn-primary btn-sm">Charger le modèle</button>
                  <button type="button" id="edit-template" class="btn btn-warning btn-sm"><i class="fa fa-save"></i> Éditer le modèle actuel</button>
                  <button type="button" id="delete-template" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Supprimer le modèle actuel</button>
                <% end %>
                <button type="button" id="save-template" class="btn btn-success btn-sm"><i class="fa fa-save"></i> Sauvegarder l'email en tant que modèle</button>
              </div>

              <div class="compose-mail">
                <div class="form-group">
                  <label for="subject" class="col-sm-2 control-label">Sujet:</label>
                  <div class="col-sm-10">
                    <input type="text" id="subject" class="form-control input-sm" name="email[subject]" required autofocus value="<%= @template.subject if @template %>" >
                  </div>
                </div><!-- /.form-group -->
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <textarea class="summernote" name="email[body]"><%= @template.body if @template %></textarea>
                  </div>
                </div><!-- /.form-group -->
              </div><!-- /.compose-mail -->

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <label for="subject" class="col-sm-2 control-label">envoyer aux </label>
                  <select name="email[gender]">
                    <option value="">hommes et femmes</option>
                    <option value="male">hommes</option>
                    <option value="female">femmes</option>
                  </select>
                  <span> et </span>
                  <select name="email[vip]">
                    <option value="">tout le monde</option>
                    <option value="true">seulement VIP</option>
                  </select>
                </div>
              </div><!-- /.form-group -->
            </div><!-- /.panel-body -->
            <div class="panel-footer">
              <div class="pull-right">
                <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-send"></i> Envoyer Email</button>
              </div>
              <div class="clearfix"></div>
            </div><!-- /.panel-footer -->
          </div><!-- /.panel -->
         <% end %>
        <!--/ End form compose mail -->
      </div>
    </div><!-- /.row -->
    <!--/ End mail page -->


    <div class="row">
        <div class="col-sm-12 ">

          <div class="panel panel-teal">
              <div class="panel-heading">
                  <h2 class="panel-title">COMMENT FAIRE ?</h2>
              </div><!-- /.panel-heading -->
              <div class="panel-body">

                <p><strong>Démarrer votre mailing :</strong></p>

                <p>Nous vous conseillons de créer un modèle avec votre logo, photo, adresse et/ou tout autre information qui serait redondante. Cela vous permettra à chaque nouveau mailing de partir de ce modèle et de gagner un peu de temps.

                Une fois votre modèle ​terminé, sauvegardez ​-le !</p>

                <p><strong>Création d’un mailing : </strong></p>

                <p>Vous pouvez partir d’un modèle que vous avez composé en le chargeant puis en ajoutant les textes, photos, etc ou vous pouvez faire une nouvelle création.</p>

                <p>Importer vos images et modifiez-les (redimensionnement, en rond, bords arrondis)

                Choisissez la taille de votre texte, la police d’écriture, la couleur…

                Vous pouvez ajouter un lien (sur une adresse mail, un site internet…), un cadre, un trait horizontal…

                Libre cours à votre imagination pour séduire votre clientèle et susciter l’envie de venir chez vous…

                Une fois votre mail terminé, choisissez le mode d’envoi (Hommes et femmes, Hommes, Femmes, et tout le monde, VIP) </p>


              </div><!-- /.panel-body -->
    </div>




        </div>
    <div>


  </div>
  <!-- End body content -->

</section><!-- /#page-content -->
<!--/ END PAGE CONTENT -->

<div class="modal fade" id="confirm_edit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Éditer le template actuel</h4>
      </div>
      <div class="modal-body">
        <p>Le template avec le nom : <span id="subject_template"></span></br> va être édité.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" id="valid-edit-template">Éditer</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="confirm_delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Supprimer le template actuel</h4>
      </div>
      <div class="modal-body">
        <p>Le template avec le nom : <span id="subject_template_delete"></span></br> va être supprimé.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" id="valid-delete-template">Supprimer</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
