<!DOCTYPE html>
<html>
<head>
  <title>Maboutique</title>
  <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- START @FONT STYLES -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet">
  <!--/ END FONT STYLES -->

  <!-- START @THEME STYLES -->
  <link href="/css/layout.css" rel="stylesheet">
  <link href="/css/themes/default.theme.css" rel="stylesheet" id="theme">
  <link href="/css/pages/sign.css" rel="stylesheet">
  <link href="/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/components.css" rel="stylesheet">
  <!--/ END THEME STYLES -->

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59241694-1', 'auto');
  ga('send', 'pageview');

  </script>

</head>

<body class="page-sound" style="display: block;">

  <!-- START @WRAPPER -->
  <section id="wrapper" style="opacity: 1;">

    <!-- START @HEADER -->
    <header id="header">

      <!-- Start header left -->
      <div class="header-left">
        <!-- Start offcanvas left: This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
        <div class="navbar-minimize-mobile left">
          <i class="fa fa-bars"></i>
        </div>
        <!--/ End offcanvas left -->

        <!-- Start navbar header -->
        <div class="navbar-header">

          <!-- Start brand -->
          <a class="navbar-brand" href="/dashboard">
            <img src="/assets/logo-ma-boutique.png" alt="brand logo" id="logo-header"/>
          </a><!-- /.navbar-brand -->
          <!--/ End brand -->

        </div><!-- /.navbar-header -->
        <!--/ End navbar header -->

        <!-- Start offcanvas right: This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
        <div class="navbar-minimize-mobile right">
          <i class="fa fa-cog"></i>
        </div>
        <!--/ End offcanvas right -->

        <div class="clearfix"></div>
      </div><!-- /.header-left -->
      <!--/ End header left -->

      <!-- Start header right -->
      <div class="header-right">
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg.html_safe, class: "alert alert-info" %>
        <% end %>
      </div><!-- /.header-right -->
      <!--/ End header left -->

    </header> <!-- /#header -->
    <!--/ END HEADER -->

    <aside id="sidebar-left" class="sidebar-circle">

      <!-- Start left navigation - profile shortcut -->
      <div class="sidebar-content">

        <div class="media">
          <a class="pull-left has-notif avatar" href="/account">
            <img src="/assets/avatar.png" alt="admin">
            <i class="online"></i>
          </a>
          <div class="media-body">
            <h4 class="media-heading">Bonjour,</h4>
            <small><%= link_to('Se déconnecter', destroy_user_session_path, :method => :delete) %></small>
          </div>
        </div>
      </div><!-- /.sidebar-content -->
      <!--/ End left navigation -  profile shortcut -->

      <!-- Start left navigation - menu -->
      <ul class="sidebar-menu">
        <!-- Start navigation - frontend themes -->
        <li>
          <a href="<%= dashboard_path %>">
            <span class="icon"><i class="fa fa-leaf"></i></span>
            <span class="text">Tableau de bord</span>
          </a>
        </li>
        <!--/ End navigation - frontend themes -->

        <!-- Start navigation - frontend themes -->
        <li>
          <a href="<%= new_contact_path %>">
            <span class="icon"><i class="fa fa-leaf"></i></span>
            <span class="text">Ajouter un contact</span>
          </a>
        </li>
        <!--/ End navigation - frontend themes -->

        <!-- Start navigation - dashboard -->
        <li>
          <a href="<%= contact_new_email_path %>">
            <span class="icon"><i class="fa fa-paper-plane-o"></i></span>
            <span class="text">Envoyer des emails</span>
          </a>
        </li>
        <!--/ End navigation - dashboard -->

        <!-- Start navigation - landing -->
        <li>
          <a href="<%= contact_new_sms_path %>">
            <span class="icon"><i class="fa fa-bullhorn"></i></span>
            <span class="text">Envoyer des SMS</span>
          </a>
        </li>
        <!--/ End navigation - landing -->
        <li class="sidebar-category" >
          <span>Informations</span>
        </li>
        <li class="sidebar-minimize">
          <a href="<%= payement_index_path %>" >
            <% if current_user.end_subscription > DateTime.now %>
            <span class="icon"><i class="fa fa-thumbs-o-up"></i></span>
              <span class="text">Abonnement: <%= current_user.end_subscription.strftime("%d/%m/%y") %></span>
            <% else %>
              <span class="icon"><i class="fa fa-thumbs-o-down"></i></span>
              <span class="text" style="color:red;">Abonnement expiré</span>
            <% end %>
          </a>
        </li>
        <li class="sidebar-minimize">
          <a>
            <span class="icon"><i class="fa fa-group"></i></span>
            <span class="text"><%= current_user.contacts.length %> Contacts Emails</span>
          </a>
        </li>
        <li class="sidebar-minimize">
          <a>
            <span class="icon"><i class="fa fa-mobile"></i></span>
            <span class="text"><%= Contact.where(user_id: current_user).where.not('phone' => '').length %> Contacts Tel</span>
          </a>
        </li>
        <li class="sidebar-minimize-end">
          <a href="<%= payement_index_path %>" >
            <span class="icon"><i class="fa fa-money"></i></span>
            <span class="text"><%= current_user.credits %> CREDITS SMS</span>
          </a>
        </li>

      </ul><!-- /.sidebar-menu -->
      <!--/ End left navigation - menu -->

    </aside><!-- /#sidebar-left -->
    <!--/ END SIDEBAR LEFT -->

    <%= yield %>

    <!-- START @SIDEBAR RIGHT -->
    <aside id="sidebar-right">

      <div class="panel panel-tab">
        <div class="panel-heading no-padding">
          <div class="pull-right">
            <ul class="nav nav-tabs">
              <li>
                <a href="#sidebar-profile" data-toggle="tab">
                  <i class="fa fa-user"></i>
                </a>
              </li>
              <li>
                <a href="#sidebar-layout" data-toggle="tab">
                  <i class="fa fa-cogs"></i>
                </a>
              </li>
              <li class="active">
                <a href="#sidebar-setting" data-toggle="tab">
                  <i class="fa fa-paint-brush"></i>
                </a>
              </li>
              <li>
                <a href="#sidebar-chat" data-toggle="tab">
                  <i class="fa fa-comments"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </aside><!-- /#sidebar-right -->
    <!--/ END SIDEBAR RIGHT -->

  </section><!-- /#wrapper -->

</body>

</html>
